<h1>Add a Definition to <%= @word.word() %> </h1>

<form action="/definition" method="post">

  <input id='dealership_id' name='dealership_id' type='hidden' value='<%= @dealership.id() %>'>
  <label for='definition'>Write the words definition:</label>
  <input id='definition' name='definition' type='text'>

  <button type="submit">Add Definition</button>
</form>
