<h1>Add a Definition to <%= @word.word() %> </h1>

<form action="/<%= @word.id %>" method="post">
  <label for='definition'>Write the words definition:</label>
  <input id='definition' name='definition_id' type='text'>
  <button type="submit">Add Definition</button>
</form>
