<h1>Add New Word</h1>

<p>Add a word here:</p>

<form action="/word_list" method="post">
  <label for="word">Add word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add it!</button>
</form>
